.shine {
  box-shadow: 15px 0px 100px 12px rgba(255, 255, 255, 0.8),
    0 0 40px 9px rgba(255, 253, 224, 0.7);
  transition: all 1s ease-in-out;
}

.door span {
  pointer-events: none;
}

.opened {
  background-color: rgb(250, 102, 102);
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-105deg);
}
